In [18]:
import pandas as pd
df = pd.read_csv("D:\\Cursos\\Analitica de datos\\base_datos_2008.csv",nrows =1e6)

In [19]:
dfduplicate = df.append(df)

In [20]:
dfduplicate = dfduplicate.sample(frac=1)

In [21]:
dfclean = df.drop_duplicates()

In [25]:
len(dfclean) == len(df)

False

In [24]:
dfclean.drop_duplicates(subset = "DayofMonth") #Borrar duplicados de la columna especificada

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2367,2008,1,4,5,2003.0,1845,2207.0,2040,WN,746,...,5.0,15.0,0,NaN,0,0.0,0.0,9.0,0.0,78.0
5805,2008,1,5,6,2001.0,1845,2150.0,2040,WN,746,...,4.0,6.0,0,NaN,0,3.0,0.0,0.0,0.0,67.0
8614,2008,1,6,7,1852.0,1845,2044.0,2040,WN,746,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11843,2008,1,7,1,1842.0,1845,2032.0,2040,WN,746,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15279,2008,1,8,2,1844.0,1845,2038.0,2040,WN,746,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18715,2008,1,9,3,1844.0,1845,2040.0,2040,WN,746,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
22151,2008,1,10,4,2004.0,1845,2154.0,2040,WN,746,...,4.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,74.0
25588,2008,1,11,5,1911.0,1845,2102.0,2040,WN,746,...,4.0,9.0,0,NaN,0,22.0,0.0,0.0,0.0,0.0
29026,2008,1,12,6,1840.0,1845,2032.0,2040,WN,263,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
31810,2008,1,13,7,2016.0,1950,2209.0,2145,WN,2271,...,6.0,7.0,0,NaN,0,24.0,0.0,0.0,0.0,0.0
34875,2008,1,14,1,1945.0,1950,2140.0,2145,WN,2271,...,4.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
38305,2008,1,15,2,1946.0,1950,2143.0,2145,WN,2271,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
41735,2008,1,16,3,1944.0,1950,2136.0,2145,WN,2271,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
45163,2008,1,17,4,2021.0,1950,2213.0,2145,WN,2271,...,3.0,6.0,0,NaN,0,0.0,0.0,0.0,0.0,28.0
48593,2008,1,18,5,1949.0,1950,2150.0,2145,WN,2271,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
52023,2008,1,19,6,1949.0,1950,2148.0,2145,WN,2969,...,4.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
54541,2008,1,20,7,1950.0,1950,2147.0,2145,WN,2271,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
57606,2008,1,21,1,2047.0,1950,2236.0,2145,WN,2271,...,5.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
61036,2008,1,22,2,1945.0,1950,2132.0,2145,WN,2271,...,4.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
64466,2008,1,23,3,1946.0,1950,2136.0,2145,WN,2271,...,4.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
67894,2008,1,24,4,2016.0,1950,2207.0,2145,WN,2271,...,4.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,22.0
71324,2008,1,25,5,2014.0,1950,2202.0,2145,WN,2271,...,4.0,8.0,0,NaN,0,9.0,0.0,0.0,0.0,8.0
74754,2008,1,26,6,1945.0,1950,2139.0,2145,WN,2969,...,6.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
77272,2008,1,27,7,1957.0,1950,2146.0,2145,WN,2271,...,4.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
80337,2008,1,28,1,1945.0,1950,2136.0,2145,WN,2271,...,6.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
83767,2008,1,29,2,1945.0,1950,2137.0,2145,WN,2271,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
87197,2008,1,30,3,1955.0,1950,2149.0,2145,WN,2271,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
90625,2008,1,31,4,1949.0,1950,2137.0,2145,WN,2271,...,3.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
94065,2008,1,2,3,1252.0,1223,1457.0,1428,XE,2667,...,12.0,12.0,0,NaN,0,6.0,0.0,0.0,0.0,23.0
94084,2008,1,1,2,1110.0,1050,1303.0,1245,XE,2679,...,3.0,11.0,0,NaN,0,18.0,0.0,0.0,0.0,0.0

In [27]:
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [28]:
df.dropna(thresh=25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0