In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("D:\\Cursos\\Analitica de datos\\base_datos_2008.csv", nrows= 10000)

In [20]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [21]:
df.tail(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
9990,2008,1,6,7,635.0,635,900.0,850,WN,2452,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9991,2008,1,6,7,1845.0,1720,2005.0,1835,WN,225,...,4.0,14.0,0,NaN,0,24.0,0.0,5.0,0.0,61.0
9992,2008,1,6,7,1644.0,1400,1753.0,1520,WN,2360,...,3.0,5.0,0,NaN,0,43.0,0.0,0.0,0.0,110.0
9993,2008,1,6,7,1220.0,1150,1649.0,1635,WN,2624,...,2.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9994,2008,1,6,7,900.0,905,1009.0,1025,WN,469,...,6.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9995,2008,1,6,7,2000.0,1955,2121.0,2115,WN,593,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9996,2008,1,6,7,1624.0,1620,1742.0,1740,WN,618,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9997,2008,1,6,7,1946.0,1805,2059.0,1930,WN,646,...,4.0,8.0,0,NaN,0,0.0,0.0,6.0,0.0,83.0
9998,2008,1,6,7,1549.0,1430,1706.0,1550,WN,656,...,3.0,6.0,0,NaN,0,0.0,48.0,0.0,0.0,28.0
9999,2008,1,6,7,1050.0,1050,1211.0,1210,WN,680,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [22]:
df = df.sample(frac= 1)

In [29]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [23]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [24]:
df.values

array([[2008, 1, 6, ..., nan, nan, nan],
       [2008, 1, 4, ..., nan, nan, nan],
       [2008, 1, 4, ..., nan, nan, nan],
       ...,
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 4, ..., nan, nan, nan],
       [2008, 1, 5, ..., nan, nan, nan]], dtype=object)

In [25]:
df2 = df.head(10)

In [26]:
df.head(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
9485,2008,1,6,7,1258.0,1300,1347.0,1355,WN,28,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5571,2008,1,4,5,1806.0,1800,1904.0,1905,WN,2794,...,7.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3389,2008,1,4,5,734.0,735,1138.0,1140,WN,476,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8255,2008,1,5,6,NaN,1415,NaN,1545,WN,3662,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
3470,2008,1,4,5,1306.0,1300,1537.0,1550,WN,1397,...,6.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8284,2008,1,5,6,1851.0,1835,1947.0,1945,WN,1276,...,4.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
471,2008,1,3,4,1852.0,1830,1942.0,1925,WN,2374,...,3.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,17.0
361,2008,1,3,4,2004.0,1900,2127.0,2015,WN,303,...,4.0,13.0,0,NaN,0,0.0,0.0,13.0,0.0,59.0
6845,2008,1,5,6,911.0,910,1350.0,1350,WN,2111,...,2.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5088,2008,1,4,5,744.0,740,907.0,930,WN,1940,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8738,2008,1,6,7,724.0,725,937.0,955,WN,741,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3123,2008,1,4,5,1653.0,1635,2200.0,2200,WN,706,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6962,2008,1,5,6,1825.0,1740,1926.0,1840,WN,1004,...,13.0,7.0,0,NaN,0,11.0,0.0,1.0,0.0,34.0
1422,2008,1,3,4,1252.0,1240,1609.0,1610,WN,1006,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3089,2008,1,4,5,628.0,630,758.0,805,WN,1835,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5490,2008,1,4,5,2318.0,2045,25.0,2155,WN,1853,...,2.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,150.0
3929,2008,1,4,5,1317.0,1235,1443.0,1405,WN,33,...,4.0,11.0,0,NaN,0,1.0,0.0,0.0,0.0,37.0
9941,2008,1,6,7,2013.0,1845,2107.0,1950,WN,2021,...,3.0,8.0,0,NaN,0,22.0,0.0,0.0,0.0,55.0
6136,2008,1,5,6,1737.0,1740,1842.0,1845,WN,3320,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5748,2008,1,4,5,1128.0,1015,1352.0,1245,WN,1574,...,3.0,10.0,0,NaN,0,67.0,0.0,0.0,0.0,0.0